
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">主导航</li>
            <li *ngFor="let item of sideBarItems" class="treeview" [class.active]="item.id == activeItem[0]">
                <a href="#">
                    <i class="{{item.icon}}"></i>
                    <span>{{item.text}}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul *ngIf="item.children" class="treeview-menu">
                    <li *ngFor="let child of item.children" [class.active]="child.id == activeItem[1]">
                        <a style="cursor: pointer;" (click)="navigation(child)"><i class="fa fa-circle-o"></i> {{child.text}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
