<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{content.title}}
        <small>{{content.subTitle}}</small>
    </h1>
    <ol class="breadcrumb">
        <li *ngFor="let crumb of content.breadCrumb; let i = index; trackBy: trackByFn" [class.active]="content.breadCrumb.length == (i+1)">
            <a href="#"><i *ngIf="i == 0" class="{{content.icon}}"></i> {{crumb}} </a>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    {{content.contentType}}
    <div *ngIf="content.contentType == 0">Dashboard</div>
    <div *ngIf="content.contentType == 1">User List</div>
</section>
<!-- /.content -->
